span.etbackto{
  	float: right;
  	color: #7b8086;
  	margin-right: 10px;
}
span.etbackto:hover{
	color: #49c0e0;
	cursor: pointer;

}
span.ettcwj{
	float: left;
}
span.etwjxg{
	width: 100px;
	height: 20px;
	margin: 3px 20px 3px 0px;
	text-align: center;
	background: #3dbcdd;
	float: right;
	line-height: 20px;
	cursor: pointer;
	color: #fff;
}
div.et_tit{
  height: 27px;
  color: #7b8086;
  width: 1100px;
  margin:0 auto;
}
div.et_titwrap{
	background: #e4e9ec;
	width: 100%;
}
div.et_titwrap.onTheTop-tea {
    position: fixed;
    left: 0;
    top: 37px;
    z-index: 300;
    transition: 0.3s;
    }
div.etdiv_tit{
	height: 40px;
	padding-top: 10px;
	width: 1100px;
	margin: 0 auto;
	background: #fff;
    padding-left: 36px;
}
h2.eth2_tit{
	margin-top: 10px;
	line-height: 20px;
	height: 20px;
	border-left: 4px solid #4ac0e0;
	padding-left: 13px;
	font-size: 18px;
}
