.classManagementMain-container {
    width: 1100px;
    margin: auto;
    min-height: 650px;
    height: 650px;
    padding-left: 0;
}

.classManagementMain-list {
    width: 275px;
    float: left;
    height: 100%;
}

.classManagementMain-content {
    float: left;
    height: 100%;
    width: 803px;
 /*   margin-left: 22px;*/
    background: #fff;
  /*  padding-top: 20px;*/
}