.rewardsWrap {
    margin-top: 13px;
    min-height: 536px;
    padding: 20px;
    position: relative;
    color: #333;
}

.rewardsWrap h2 {
    font-weight: 400;
    font-size: 18px;
    height: 20px;
    line-height: 20px;
    border-left: 4px solid #49c0e0;
    padding-left: 14px
}

.rewardsMessage {
    width: 1040px;
    margin-left: 19px;
    height: 84px;
    padding-top: 15px;
    box-sizing: border-box;
    line-height: 28px;
    padding-left: 4px;
    margin-top: 8px;
    border-bottom: 1px dashed #c9c9c9;
    background: #f5f5f5;
}

.rewardsMessage span {
    color: #333;
    margin: 0 30px 0 7px;
}

.rewardsMessage span.rewardsName {
    font-size: 16px;
}

.rewardsCommitBox {
    width: 1050px;
    margin: 12px 0px 20px 15px;
    padding: 0px 0px 20px 14px;
    border-bottom: 1px dashed #c8c8c8;
}

.rewardsCommitBox div.rewardTimePick,
.rewardsCommitBox div.rewardContent,
.rewardsCommitBox div.rewardScore,
.rewardsCommitBox div.rewardChangeType {
    margin-bottom: 10px;
    font-size: 14px;
    box-sizing: border-box;
    position: relative;
}

.rewardFixedIt {
    position: absolute;
    left: -8px;
    top: 0px;
    color: red;
}


/*.rewardChooseItem .rewardFixedIt{
    top: 6px;
}*/

.rewardsCommitBox div.rewardTimePick,
.rewardsCommitBox div.rewardScore,
.rewardsCommitBox div.rewardChangeType {
    height: 30px;
    line-height: 30px;
    text-align: left;
}

.rewardsCommitBox div.rewardChangeType {
    margin-bottom: 2px;
}

.rewardsCommitBox div.rewardChangeType span {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #606060;
}

.rewardsCommitBox div.rewardChangeType span:nth-of-type(2) {
    margin-left: 70px;
}

.rewardsCommitBox div.rewardChangeType input {
    margin-left: 10px;
    margin-right: 5px;
    position: relative;
    top: -1px;
}

.rewardsCommitBox div.rewardTimePick {
    margin-bottom: 8px;
    position: relative;
}

.rewardsCommitBox div.rewardTimePick i.rwdTime {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 30px;
    line-height: 30px;
}

.rewardsCommitBox div.rewardTimePick p {
    width: 100%;
    padding-left: 80px;
    height: 100%;
    position: relative;
}

.rewardsCommitBox div.rewardTimePick p a,
.rewardsCommitBox div.rewardTimePick p span {
    position: absolute;
    top: 0;
}

.goFrontDay,
.goEndDay {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #1380f9;
    background-color: #e1f9fd;
    border: 1px solid #d3e7fd;
    box-sizing: border-box;
}

.goFrontDay {
    left: 70px;
}

.goEndDay {
    left: 290px;
}

.goFrontDay:hover,
.goEndDay:hover {
    color: #fff;
    background-color: #4fbfdc;
    border-color: #4fbfdc
}

.goFrontDay.uselessBtn,
.goEndDay.uselessBtn,
.goFrontDay.uselessBtn:hover,
.goEndDay.uselessBtn:hover {
    color: #f1f1f1;
    background-color: #fcfcfc;
    border-color: #f1f1f1;
}

.rewardsCommitBox div.rewardTimePick p span {
    width: 190px;
    height: 30px;
    line-height: 28px;
    left: 100px;
    box-sizing: border-box;
    border: 1px solid #dedede;
    text-align: left;
    padding-left: 5px;
    color: #606060;
}

.rewardsCommitBox div.rewardContent {
    padding-top: 3px;
    margin-bottom: 4px;
    padding-left: 27px;
}

.rewardsCommitBox div.rewardContent textarea {
    margin-left: 10px;
    border: 1px solid #e9e7e8;
    width: 960px;
    height: 60px;
    overflow-y: auto;
    padding: 5px;
    position: relative;
    outline: 0;
    top: -5px;
    resize: none;
}

.rewardsCommitBox div.rewardScore i {
    margin-left: 8px;
    color: #606060;
}

.rewardsCommitBox div.rewardScore i.rewardFixedIt {
    color: red;
    left: -15px;
}

.rewardsCommitBox div.rewardScore i.tagScore {
    margin-right: 8px;
}

.rewardsCommitBox div.rewardScore {
    margin-bottom: 8px;
}

a.rewardSave {
    margin-left: 70px;
    margin-top: 2px;
    display: inline-block;
    width: 95px;
    height: 34px;
    line-height: 31px;
    padding: 0;
    text-align: center;
    color: #fff;
    background-color: #49c0e0;
}

.rewardsShowBox {
    border-left: 1px solid #e9e8e8;
    margin-left: 28px;
    padding-top: 10px;
}

#rewardShSelect {
    margin-right: 10px;
}

.rewardShSelect {
    height: 56px;
    line-height: 56px;
    position: relative;
    width: 1040px;
    margin: 10px 0 0 19px;
    background-color: #f5f5f5;
    padding-left: 10px;
    text-align: left;
}

.rewardShSelect select {
    color: #606060;
    margin-left: 10px;
    width: 240px;
    height: 30px;
    line-height: 30px;
    text-align: left;
    background-color: #f5f5f5;
    /*border: 1px solid #1081fb;*/
    border: 1px solid #e9e7e8;
    outline: none;
}

.rewardShowScore {
    margin-bottom: 5px;
}

.rewardShowScore span {
    padding-left: 8px;
}

.showRewardSc {
    margin: 0 3px;
}


/*.rewardShSelect select:focus,*/

.rewardShSelect select:hover {
    border: 1px solid #4ac0e0;
}

.rewardShSelect select {
    width: 220px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url('../../../images/headMaster/aa.svg') no-repeat 98% center;
    background-size: 15px 13px;
}

.rewardShSelect select::-ms-expand {
    display: none;
}

.rewardShSelect span {
    margin-left: 10px;
}

.rewardShSelect i {
    font-size: 16px;
    color: #308afc;
}

.warnings {
    position: fixed;
    top: 30%;
    left: 50%;
    /*transform: translate(-50%,0);*/
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    color: #fff;
    background-color: rgba(0, 0, 0, .5);
    padding: 20px 30px;
}


/*选择类型*/

.rewardChooseItem {
    box-sizing: border-box;
    min-height: 30px;
    margin-bottom: 8px;
    padding-left: 68px;
    position: relative;
}

.rewardChooseItemName {
    position: absolute;
    left: 0;
    top: 0;
}

.rewardChooseItem i {
    margin-right: 10px;
}

.rewardChooseItem i.tdNo {
    display: inline-block;
    width: 20px;
    margin-right: 4px;
    color: #323232;
    font-size:12px;
}

.rewardTable {
    width: 960px;
    border: 1px solid #f3eef5;
}
.rewardTable ul {
    width: 50px;
    margin: 0 auto;
}

.rewardTable ul li {
    list-style: disc;
    width: 50px;
    margin-left: 15px;
    /*text-align: center;*/
    font-size: 12px;
    color: #8e8e8e;
    /*color: */
}
.rewardTable th {
    height: 30px;
}

.rewardTable th i {
    font-size: 12px;
    margin-left: 8px;
}

.rewardTh {
    width: 160px;
    text-align: center;
}

.rewardThsub {
    width: 803px;
    text-align: left;
    box-sizing: border-box;
    padding-left: 10px;
}

.rewardSub input {
    position: relative;
    top: -1px;
    margin-right: 2px;
}

.thOfReward {
    color: #fff;
    background-color: #f84a7b;
}

.thOfPunish {
    color: #fff;
    background-color: #3687e2;
}

.thOfRewardSub {
    color: #fff;
    background-color: #f19aaa;
}

.thOfPunishSub {
    color: #fff;
    background-color: #85b9f3;
}

.rewardTable td {
    border: 1px solid #f3eef5;
    /*text-align: center;*/
    vertical-align: middle;
    border-left: 0;
    border-right: 0;
}

.rewardTable td.rwd_text {
    vertical-align: top;
}

.rewardTit {
    width: 160px;
    text-align: center;
}
.rewardTit i{
    font-size: 18px;
    margin: 0;
}
.rewardTable td.rewardTit1 {
    background-color: #fef5f6;
    border-right: 1px solid #f3eef5;
}

.rewardTable td.pnishTit1 {
    background-color: #e9f1fc;
    border-right: 1px solid #f3eef5;
}

.rewardTable td.rewardTit2 {
    background-color: #fcf7fd;
    border-right: 1px solid #f3eef5;
}

.rewardTable td.pnishTit2 {
    background-color: #f6fbfe;
    border-right: 1px solid #f3eef5;
}

.rewardTable td.rewardTit3 {
    background-color: #fdf3f1;
    border-right: 1px solid #f3eef5;
}

.rewardTable td.pnishTit3 {
    background-color: #f1f6fc;
    border-right: 1px solid #f3eef5;
}

.rewardTit1 p,
.rewardTit2 p,
.rewardTit3 p,
.pnishTit1 p,
.pnishTit2 p,
.pnishTit3 p {
    text-align: center;
    font-size: 14px;
    color: #8e8e8e;
    /*margin-top: 8px;*/
    margin-bottom: 18px;
}
.rewardTit3 p,
.pnishTit3 p{
    margin: 0;
}
.rewardTit1 h6,
.rewardTit2 h6,
.rewardTit3 h6,
.pnishTit1 h6,
.pnishTit2 h6,
.pnishTit3 h6{
    text-align: center;
    font-size:12px;
    color:#8e8e8e;
}
.rewardSuper {
    width: 160px;
    text-align: left;
    padding-left: 10px;
    box-sizing: border-box;
}

.rewardSuper i {
    margin-left: 8px;
    font-size: 12px;
    color: #8e8e8e;
}


/*.rewardSuper1 {
    background-color: #fce8ea
}

.rewardSuper2 {
    background-color: #f8ebfc
}

.rewardSuper3 {
    background-color: #fceeeb
}

.pnishSuper1 {
    background-color: rgb(221, 234, 250)
}

.pnishSuper2 {
    background-color: rgb(205, 246, 206)
}

.pnishSuper3 {
    background-color: rgb(211, 252, 244)
}*/

.rewardSub {
    width: 329px;
    text-align: left;
    padding: 5px 0 5px 15px;
    box-sizing: border-box;
}
.rewardSub p{
    position: relative;
    height: 20px;
    line-height: 20px;
    box-sizing: border-box;
}
.rewardSub p .seleBox{
    /*display: inline-block;*/
    /*position: absolute;*/
    /*right: 20px;
    top: 0;*/
    margin-left: 10px;
    height: 20px;
    box-sizing: border-box;
}
.rewardSub p .seleBox select{
    position: relative;
    top: -1px;
    height: 18px;
    width: 45px;
    line-height: 18px;
    margin: 0 3px;
    border:1px solid #ededed;
    box-sizing: border-box;
    -webkit-appearance:menulist;
    
}
.rewardSub span {
    font-size: 12px;
}

i.rewardCountNumi {
    margin-left: 8px;
    font-size: 12px;
    color: #8e8e8e;
}


/*.rewardSub1,
.rewardSub1 textarea {
    background-color: #fef5f6
}

.rewardSub2,
.rewardSub2 textarea {
    background-color: #fbf8ff
}

.rewardSub3,
.rewardSub3 textarea {
    background-color: #fef6f4
}

.pnishSub1,
.pnishSub1 textarea {
    background-color: rgb(244, 247, 252)
}

.pnishSub2,
.pnishSub2 textarea {
    background-color: rgb(240, 252, 240)
}

.pnishSub3,
.pnishSub3 textarea {
    background-color: rgb(234, 253, 249)
}*/

.rewardTable td textarea {
    width: 280px;
    /*height: 100%;*/
    margin-top: 5px;
    min-height: 42px;
    height: auto;
    border: none;
    resize: none;
    padding-left: 10px;
    box-sizing: border-box;
}


/*顶部提示*/

.rewardsWrap .rewardTitleWarning {
    width: 1040px;
    height: 38px;
    font-size: 12px;
    line-height: 38px;
    text-align: left;
    padding-left: 10px;
    color: #f28378;
    background-color: #fce5d1;
    margin-left: 19px;
    margin-top: 10px;
}

.rewardCountPerson {
    margin-left: 20px;
}


/*展示列表*/

.rewardItem {
    margin-bottom: 10px;
}

.rewardItem:hover {
    /*background-color: #e4f4ff;*/
    background-color: #eef8ff;
}

.rewardItem p {
    position: relative;
}

.timeItem {
    padding-left: 10px;
}

.rewardItem p i.iconfont {
    position: absolute;
    font-size: 16px;
    right: 10px;
    top: 10px;
    padding: 0;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: #fff;
    background-color: #4ac1e1;
    cursor: pointer;
}

.rewardItem p i.editReward {
    right: 40px;
}

.rewardItem p i.notShow {
    display: none;
}

.rewardItem .rewardBlue {
    display: inline-block;
    border: 3px solid #1081fb;
    border-radius: 100%;
    background-color: #fff;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    position: absolute;
    left: -8px;
    top: 8px;
}

.rewardTime {
    color: #1081fb;
    font-size: 16px;
    font-weight: 400;
    height: 30px;
    line-height: 30px;
    margin-left: 20px;
}

.rewardType {
    display: inline-block;
    text-align: center;
    font-size: 12px;
    width: 64px;
    height: 22px;
    line-height: 22px;
    margin-left: 10px;
    /*border: 1px solid #000;*/
    border-radius: 15px;
}

.rewardType.colorP {
    color: #f12cea;
    background-color: #f8c3e6;
}

.rewardType.colorO {
    color: #ff5a00;
    background-color: #ffcfb5;
}

.rewardText {
    /*margin-top: 10px;*/
    padding-left: 59px;
    font-size: 14px;
    font-weight: 400;
    /*padding-top: 10px;*/
    position: relative;
    margin-bottom: 10px;
}

.rewardText .rewardTextSpan {
    display: inline-block;
    width: 960px;
    margin-left: 5px;
    /*border: 1px solid #e5e5e5;*/
    line-height: 20px;
    box-sizing: border-box;
    padding-left: 5px;
    max-height: 120px;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    top: 1px;
}

.rewardText i {
    position: absolute;
    top: 0px;
    left: 10px;
}

.rewardTexts {
    margin-bottom: 4px;
    padding-left: 10px;
    font-size: 14px;
    font-weight: 400;
}

.rewardText span {
    margin-left: 8px;
}

.tipDayR {
    width: 1040px;
    height: 38px;
    line-height: 38px;
    text-align: left;
    padding-left: 10px;
    color: #f28378;
    background-color: #fce5d1;
    margin-left: 19px;
    margin-top: 10px;
    font-size: 12px;
}

/*select 显示隐藏*/
.selectHideItem{
    display: none;
}
.selectShowItem{
    display: inline-block;
}