.det_tab {
    width: 260px;
    height: 30px;
    margin-left: 12px;
}

.clearfloat {
    clear: both;
    height: 0;
}

.det_tab span {
    display: inline-block;
    width: 120px;
    float: left;
    height: 30px;
    cursor: pointer;
    background: #fff;
    border: 1px solid #e8e8e8;
    color: #606060;
    text-align: center;
    line-height: 30px;
}

.det_tab span.ch {
    border: 1px solid #37b0cf;
    background: #37b0cf;
    color: white;
}

div.det_info {
    margin-top: 10px;
}

div.det_body {
    margin-top: 10px;
}